h1 {
  text-decoration: underline;
}
article {
  border-style: solid;
  position: relative;
}

.evil {
  display: none;
}

article.eviltrue .evil {
  display: block;
}

article.flyve::after {
  content: "KAN FLYVE";
  background-color: aqua;
}
